:host ::ng-deep .p-button{
  width: 12rem;
}

:host ::ng-deep .p-inputtext {
  width: 16rem;
}

:host ::ng-deep .custom-toast .p-toast {
  max-width: calc(100vw - 40px);
}

body {
  min-width: 350px;
}
