<div class="flex flex-col justify-center items-center space-y-10">
  <div class="flex flex-col justify-center items-center space-y-10 p-16 bg-gradient-to-l from-grey-100 from-10% to-blue-200 to-90% drop-shadow-xl rounded-lg">
    <i class="bi bi-person-circle" style="font-size: 3rem; opacity: 0.6"></i>
    <div class="flex flex-col justify-center items-center space-y-4 w-full">
      <input id="name" class="custom-input-username border-0 border-blue-50 bg-blue-50 rounded-lg drop-shadow-xl w-full font-bold" type="text" pInputText [disabled]="true" [(ngModel)]="user!.name"/>
      <input id="username" class="custom-input-username border-0 border-blue-50 bg-blue-50 rounded-lg drop-shadow-xl w-full font-bold" type="text" pInputText [disabled]="true" [(ngModel)]="user!.username"/>
    </div>

    <div class="flex flex-col justify-center items-center space-y-4 mt-20">
      <p-button styleClass="p-button-info" label="Мои питомцы" icon="bi bi-card-list" (click)="onclick()"/>
      <p-button styleClass="p-button-info" label="Настройки" icon="bi bi-gear" (click)="toSettings()"/>
    </div>
  </div>
</div>
