<div class="flex flex-col justify-center items-center space-y-14">
  <div
    class="flex flex-col justify-center items-center space-y-20 p-16 bg-gradient-to-l from-grey-200 from-10% to-blue-300 to-90% drop-shadow-xl rounded-lg">
    <div class="flex flex-row justify-center items-center space-x-8 w-full">
      <input id="name"
             class="custom-input-name border-0 border-blue-50 bg-blue-50 rounded-lg drop-shadow-xl w-full font-bold"
             type="text" pInputText [disabled]="true" [(ngModel)]="name"/>
      <p-image id="avatar-image"
               src="https://upload.wikimedia.org/wikipedia/commons/f/fb/Welchcorgipembroke.JPG"
               alt="avatar">
      </p-image>
    </div>


    <div class="flex flex-col justify-center items-center space-y-4">
      <p-button styleClass="p-button-info" label="Назад" (click)="back()"></p-button>
    </div>
  </div>
</div>


