.map-container {
  position: absolute;
  top: 8rem;
  left: 0;
  right: 0;
  bottom: 14rem;
  margin: 30px;
}

.map-frame {
  border-radius: 2rem;
  //height: 100%;
}

#map {
  height: 400px;
  max-height: 400px;
  width: 100%;
  max-width: 600px;
}

