:host ::ng-deep img {
  border-radius: 2rem;
  width: 3rem;
  height: 3rem;
}

//:host ::ng-deep .custom-input {
//  max-width: 6rem;
//  font-size: 2rem;
//  line-height: 3rem;
//  color: black;
//  text-align: center;
//}
//
//:host ::ng-deep .custom-input-stress {
//  max-width: 14.5rem;
//  font-size: 2rem;
//  line-height: 3rem;
//  color: black;
//  text-align: center;
//}
//
//:host ::ng-deep .custom-input-name {
//  max-width: 8rem;
//  color: black;
//  text-align: center;
//}
