<div class="flex flex-col justify-center items-center space-y-14">
  <div
    class="flex flex-col justify-center items-center space-y-10 p-16 bg-gradient-to-l from-grey-200 from-10% to-blue-300 to-90% drop-shadow-xl rounded-lg">

    <div class="flex flex-row justify-center items-center space-x-6 w-full">
      <input id="name"
             class="custom-input-name border-0 border-blue-50 bg-blue-50 rounded-lg drop-shadow-xl w-full font-bold"
             type="text" pInputText [disabled]="true" [(ngModel)]="pet.name"/>
      <i class="bi bi-journal-medical" style="font-size: 2rem; opacity: 0.7"></i>
    </div>

    <div class="flex flex-col justify-center items-center space-y-4 w-full">
      <input id="weight"
             class="custom-input-pet text-black border-0 border-blue-50 bg-blue-50 rounded-lg drop-shadow-xl w-full font-bold"
             type="text" pInputText [disabled]="true" value="{{pet.weight}} кг" ngModel="pet.weight" />
      <input id="height"
             class="custom-input-pet border-0 border-blue-50 bg-blue-50 rounded-lg drop-shadow-xl w-full font-bold"
             type="text" pInputText [disabled]="true" value="{{pet.height}} см" ngModel="pet.height"/>
      <input id="age"
             class="custom-input-pet border-0 border-blue-50 bg-blue-50 rounded-lg drop-shadow-xl w-full font-bold"
             type="text" pInputText [disabled]="true" value="{{pet.age}} мес" ngModel="pet.age"/>
    </div>

    <div class="flex flex-col justify-center items-center space-y-4">
      <p-button styleClass="p-button-info" label="Геолокация" icon="bi bi-geo" (click)="toPetGeo()"></p-button>
      <p-button styleClass="p-button-info" label="Здоровье" icon="bi bi-heart-pulse" (click)="toPetHealth()"></p-button>
      <p-button styleClass="p-button-info" label="Параметры" icon="bi bi-gear" (click)="toPetSettings()"></p-button>
      <p-button [ngStyle]="{'margin-top': '2rem'}" styleClass="p-button-info" label="Все питомцы" (click)="toAllPets()"></p-button>
    </div>
  </div>
</div>
